<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
          <title>About| NEO-TECH</title>
          <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
          <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900" rel="stylesheet">
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
          <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
        
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
          
    
    
 
 <!-- Responsive navbar-->
 <nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">
    <div class="container px-5">
        <a class="navbar-brand" href="/">
            <img src="{{ url_for('static', filename='img8.jpg') }}" alt="img2"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/services">Services</a></li>
                <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>

<style>
.background-image {
   background-image: url('/static/img15.jpg');
   background-size: cover; /* or contain */
   background-repeat: no-repeat;
   height: 100%;
   width: 100%;
   
 }

 div{
          font-family: 'Bergen Mono',  monospace;
      }
      .text{
         padding: 50px;
         padding-right: 50px;
      }
</style>
</head>


<body  class="background-image" style="background-image: url({{ url_for('static', filename='img15.jpg') }})">
   <div style="text-align: center;">
      <img src="{{ url_for('static', filename='img9.jpg') }}" alt="Centered Image" style="width: 40%">
    </div>
    
<div class= "container">
  
   <div class="text" style="color:white;">NEO-TECH is a technology company based in Lusaka, Zambia. Founded in 2022 by Mapalo Chiti and      Mutale C. Mwango as an outlet for technological innovations that will improve the lives of Africans. 
      Neotech will produce software for clients as well as innovate (as is with our first project). The market for software has stood the test of time and is looking to continue that trend.
      The biggest companies in todays day and age are based around application programs and software development.
      We are also engaged in Blockchain development. Our work with Blockchain will be soon on show as our next project is in this space.
      With the rise of artificial intelligence it has brought with it a whole new market. AI products are in demand because of the value they provide in form of efficiency. We are looking to be at the forefront of innovation in this field.
       Overtime we will be involved in robotics. This is an area that is not  capitalized on in our continent despite it being viable. We will produce technology that can be used in farming, mining, multimedia and journalism. They can be used as military equipment and have uses in almost all other major industries.
       Overall robotic use in society is getting much more popular as this is an age where man and machine are beginning to integrate.
      Microchips are also a big player in our day to day technology. They are the brains of everyday computers in everything from cars to laptops and so much more.
      <br><br><br><br><br><br><br><br><br><br>
   </div>
  
</div>   




<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

      
<footer class="container-fluid bg-grey py-5">
   <div class="container">
   <div class="row">
      <div class="col-md-6">
         <div class="row">
            <div class="col-md-6 ">
               <div class="logo-part">
                  <img src="{{ url_for('static', filename='img8.jpg') }}" alt="Logo" style="10%">
                   <br> <p>Lusaka,Zambia</p>
                     <p>Transforming Africa Through Technology</p>
                 </div>
            </div>
            <div class="col-md-6 px-4">
               <h6> About Company</h6>
               <p>Trancending Technology In Africa.</p>
               <a href="/contact" class="btn-footer"> Contact Us</a><br>
               <a href="#" class="btn-footer">Top</a>
            </div>
         </div>
      </div>
      <div class="col-md-6">
         <div class="row">
            <div class="col-md-6 px-4">
               <h6> Help us</h6>
               <div class="row ">
                  <div class="col-md-6">
                     <ul>
                        <li> <a href="/"> Home</a> </li>
                        <li> <a href="/about"> About</a> </li>
                        <li> <a href="/services"> Services</a> </li>
                        <li> <a href="/team"> Team</a> </li>
                       
                     </ul>
                  </div>
                  <div class="col-md-6 px-4">
                     <ul>
                       
                        <li> <a href="/terms"> Terms</a> </li>
                        <li> <a href="/policy"> Policy</a> </li>
                        <li> <a href="/refund policy"> Refunds</a> </li>
                               
                     </ul>
                  </div>
               </div>
            </div>
            <div class="col-md-6 ">
               <h6> Follow Us</h6>
               <div class="social">
                  <a href="https://www.facebook.com/profile.php?id=100092160846165"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                  <a href="https://www.instagram.com/neotech_africa/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                  <a href="https://twitter.com/Neo1Tech"><i class="fa fa-twitter" aria-hidden="true"></i></a>

               </div>
              
               <p>&copy; 2023 NEO-TECH</p>
            </div>
         </div>
      </div>
   </div>
   </div>
   </div>
   </footer>
</section>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<!-- * *                               SB Forms JS                               * *-->
<!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>
</html>



   
