<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Contact| NEO-TECH</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">



 
 <!-- Responsive navbar-->
 <nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">
    <div class="container px-5">
        <a class="navbar-brand" href="/">
            <img src="{{ url_for('static', filename='img8.jpg') }}" alt="img2"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/services">Services</a></li>
                <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>

<style>
   div{
       font-family: 'Bergen Mono',  monospace;
   }

   .card {
           width: 300px;
           height: 200px;
           background-color: #fff;
           border: 1px solid #000000;
           text-align: center;
           margin: 0 auto;
           position: auto;
           flex: 1;
           font-family: 'Bergen Mono',  monospace;
           padding-bottom: 500px;
         }
   
         .card {
           margin-top: 20px;
           font-size: 24px;
           
         }
   
         .card p {
           margin-top: 10px;
           font-size: 13px;
         }

         .card h5{
           margin-top: 5px;
           font-size: 25px;
         }

         .card li{
           margin-top: 10px;
           font-size: 13px;
         }

         .card a{
           margin-top: 10px;
           font-size: 18px;
           font-family: 'Bergen Mono',  monospace;
         }

         body {
           background-image: url('/static/img2.jpg');
           background-size: cover; /* or contain */
           background-repeat: no-repeat;
           height: 100%;
           width: 100%;
         }
         
         .card-link1{
            position: left;
         }
</style>
</head>


<div class="container">
   <br>
  <br>
   <!----------------------------->
   <!--Change the number of words in the text and the animation will still work-->
   <div class="text" style="color:blue;"><strong>NEO-TECH</strong> is a technology company that was created with the intention to help Africa excel in the technology sector while helping Africans live a better life. We have a vision of seeing Africa compete with the technology in the first world countries.
</div>
   <!-------------------------------------->
   
        
</div>


<body style="background-image: url({{ url_for('static', filename='img2.jpg') }})">
   <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title text-primary mb-2">Contact Details</h5>
      <p class="card-text text-primary mb-2">You can contact us and our Customer Service Team will be able to get back to you.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item text-primary mb-2">Location: Lusaka, Zambia</li>
      <li class="list-group-item text-primary mb-2">Email: 01neotech@gmail.com</li>
      <li class="list-group-item text-primary mb-2">Phone:<br>+260-770-546-347<br>+260-973-718-615</li>
    </ul>
    <div class="card-body">
      <a href="https://www.facebook.com/profile.php?id=100092160846165" class="card-link">Facebook</a>
      <a href="https://www.instagram.com/neotech_africa/" class="card-link">Instagram</a>
      <a href="https://www.instagram.com/neotech_africa/" class="card-link1">Twitter</a>  
    </div>
  </div>
  <br>
  <br>
   <footer class="container-fluid bg-grey py-5">
   <div class="container">
   <div class="row">
      <div class="col-md-6">
         <div class="row">
            <div class="col-md-6 ">
               <div class="logo-part">
                  <img src="{{ url_for('static', filename='img8.jpg') }}" alt="Logo" style="10%">
                   <br> <p>Lusaka,Zambia</p>
                     <p>Transforming Africa Through Technology</p>
                 </div>
                    </div>
            <div class="col-md-6 px-4">
               <h6> About Company</h6>
               <p>Trancending Technology In Africa.</p>
               <a href="/contact" class="btn-footer"> Contact Us</a><br>
               <a href="#" class="btn-footer">Top</a>
            </div>
         </div>
      </div>
      <div class="col-md-6">
         <div class="row">
            <div class="col-md-6 px-4">
               <h6> Help us</h6>
               <div class="row ">
                  <div class="col-md-6">
                     <ul>
                        <li> <a href="/"> Home</a> </li>
                        <li> <a href="/about"> About</a> </li>
                        <li> <a href="/services"> Services</a> </li>
                        <li> <a href="/team"> Team</a> </li>
                        
                       
                     </ul>
                  </div>
                  <div class="col-md-6 px-4">
                     <ul>
                       
                        <li> <a href="/terms"> Terms</a> </li>
                        <li> <a href="/policy"> Policy</a> </li>
                        <li> <a href="/refund policy"> Refunds</a> </li>
                               
                     </ul>
                  </div>
               </div>
            </div>
            <div class="col-md-6 ">
               <h6> Follow Us</h6>
               <div class="social">
                  <a href="https://www.facebook.com/profile.php?id=100092160846165"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                  <a href="https://www.instagram.com/neotech_africa/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                  <a href="https://twitter.com/Neo1Tech"><i class="fa fa-twitter" aria-hidden="true"></i></a>

               </div>
              
               <p>&copy; 2023 NEO-TECH</p>
            </div>
         </div>
      </div>
   </div>
   </div>
   </div>
   </footer>
</section>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<!-- * *                               SB Forms JS                               * *-->
<!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>
</html>



   
