<!DOCTYPE html>
<html lang="en">
    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Policy| NEO-TECH</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
          
 <!-- Responsive navbar-->
 <nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">
    <div class="container px-5">
        <a class="navbar-brand" href="/">
        <img src="{{ url_for('static', filename='img8.jpg') }}" alt="img2"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                <li class="nav-item"><a  class="nav-link" href="/Services">Services</a></li>
                <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>
<style>
   

 body {
     background-image: url('/static/img6.jpg');
     background-size: cover; /* or contain */
     background-repeat: no-repeat;
     height: 100%;
     width: 100%;
 }

 .section-heading {
  text-align: center;
  font-family: 'Bergen Mono',  monospace;
  font-weight: 600;
  color: white;
    
  }

</style>
 
</head>
<body style="background-image: url({{ url_for('static', filename='img6.jpg') }})">

<h2 class="section-heading " > Refund Policy</h2>

<div class= "container">
   <!----------------------------->
   <!--Change the number of words in the text and the animation will still work-->
   <div class="text" style="color:white;">
    <br>Last updated: April 20, 2023<br>
    
    <br> This refund Policy describes Our policies and procedures on the refunds and/or cancellations for our products and services.<br>
    <br> By using the Service, You agree to the procedures in accordance with this Refund Policy. <br>
    
    <br> Definitions and interpretations <br>
     ------------------------------------------------------<br>
    <br> The words of which the initial letter is capitalized have meanings defined
    under the following conditions. The following definitions shall have the same meaning regardless of whether they appear in singular or in plural.<br>
    
    <br> For the purpose of this refund policy:<br>
    
    <br> * General will be used to refer to regulations applying to both products and services solely created by Neotech and the ones involving a third party.<br>
    
    <br> * Company (referred to as either "the Company", "We", "Us" or "Our" in this
        Agreement) refers to Neotech LLC and  the sub group controlling products and services in collaboration with a third party.<br>
    
    <br> * Service Provider means any natural or legal person who processes the data on behalf of the Company. It refers to third-party companies or individuals employed by the Company to facilitate the Service, to provide the Service on behalf of the Company, to perform services related to the Service or to assist the Company in analyzing how the Service is used.<br>
    
    <br> * User refers to any individual, group or entity using the service or products provided by Neotech.<br>
    
    <br> * Neo-tickets refers to the transport electronic ticket system developed by Neotech LLC. It is run with the facilitation of the service providers ( bus Operators)<br>
    
    <br> * Neotech will mean products and services solely provided by Neotech.<br>
    
        <br>  General <br>
   -------------------------- <br>
    <br> In case of any service cancelled by Neotech due to unavoidable circumstances and no alternate service was operated in place of the Cancelled services, then the passengers reserved in that particular service can get the refund (after deducting applicable service fee) by sending a refund claim letter to the following address, 
    Service charges and payment gateway charges are non refundable. <br>
    
    
    
       <br> Neo-tickets <br>
     -------------------------- <br>
    <br> While using neo-tickets, situations may arise where the user may resort to cancelling the reservation and requesting for a refund. Depending on the time of the request we will deduct a penalty fee. If a request is made 48 hours before departure 5% will be deducted. If a request is made 6 hours before departure 25% will be deducted. If a request is made 2 hours before departure 50% will be deducted. In a case where a request is made 1 hour before departure the request will be admissible.<br>
    
    <br> Cancellation of tickets is allowed only up to 1 hour before the scheduled departure of the bus service from the bus station. After that cancellation will not be allowed. Further, cancellation can be done only before 9 PM for the current date journey inclusive of the next day's journey before 7 AM. <br>
    
    <br> All refunds related to neo-tickets will be refunded to the concerned Credit card / Bank Account only within 3 to 7 bank working days. The time taken for transfer of amount to user account depends on the concerned bank's policy. Neo-tickets will not be responsible for the bankside delay. In case the refund is not received please contact us through the support button located at the bottom right of the app or call us on 0973718615.<br> Alternatively contact us on neosupport@gmail.com<br>
     
    <br> Neotech<br>
    ----------------<br>
    <br> As a customer of Neotech who wishes to request for a refund, you are required to make your request within 14 days of receipt of your product or service. Any requests after this time will not be considered.<br> <br> <br>

   </div>
   <!-------------------------------------->
</div>   




<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">


<footer class="container-fluid bg-grey py-5">
<div class="container">
   <div class="row">
      <div class="col-md-6">
         <div class="row">
            <div class="col-md-6 ">
               <div class="logo-part">
                  <img src="{{ url_for('static', filename='img8.jpg') }}" alt="Logo" style="10%">
                   <br> <p>Lusaka,Zambia</p>
                     <p>Transforming Africa Through Technology</p>
               </div>
            </div>
            <div class="col-md-6 px-4">
               <h6> About Company</h6>
               <p>Trancending Technology In Africa.</p>
               <a href="/contact" class="btn-footer"> Contact Us</a><br>
               <a href="#" class="btn-footer">Top</a>
            </div>
         </div>
      </div>
      <div class="col-md-6">
         <div class="row">
            <div class="col-md-6 px-4">
               <h6> Help us</h6>
               <div class="row ">
                  <div class="col-md-6">
                     <ul>
                        <li> <a href="/"> Home</a> </li>
                        <li> <a href="/about"> About</a> </li>
                        <li> <a href="/services"> Services</a> </li>
                        <li> <a href="/team"> Team</a> </li>
                     </ul>
                  </div>
                  <div class="col-md-6 px-4">
                     <ul>
                        
                        <li> <a href="/terms"> Terms</a> </li>
                        <li> <a href="/policy"> Policy</a> </li>
                        <li> <a href="/refund policy"> Refunds</a> </li>
                    </ul>
                  </div>
               </div>
            </div>
            <div class="col-md-6 ">
               <h6> Follow Us</h6>
               <div class="social">
                  <a href="https://www.facebook.com/profile.php?id=100092160846165"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                  <a href="https://www.instagram.com/neotech_africa/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                  <a href="https://twitter.com/Neo1Tech"><i class="fa fa-twitter" aria-hidden="true"></i></a>

                </div>
               
               <p>&copy; 2023 NEO-TECH</p>
            </div>
         </div>
      </div>
   </div>
</div>
</div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<!-- * *                               SB Forms JS                               * *-->
<!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>
</html>